# Supabase PostgreSQL (pooler — pgbouncer=true для serverless)
DATABASE_URL="postgresql://postgres.lxirsswzrcibuxzvqjro:[YOUR-PASSWORD]@aws-1-ap-southeast-1.pooler.supabase.com:5432/postgres?pgbouncer=true"
# Локальная разработка без PostgreSQL (SQLite):
# DATABASE_URL="file:./dev.db"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-min-32-chars"
