# SQLite (для запуска без PostgreSQL)
DATABASE_URL="file:./dev.db"
# Или PostgreSQL:
# DATABASE_URL="postgresql://user:password@localhost:5432/kelajak?schema=public"
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-min-32-chars"
